.python-version
.pytest_cache/
.venv
.venv/
.git
.DS_Store
__pycache__
__pycache__/
.vscode
.cursor
.env
.env/
env
env/
venv
venv/
*.pyc
*.dev/
'.*.dev/'
migrations/
.uv-cache/
.ruff-cache/
*/*_alt.*
*/*_alt_.*
