bcrypt==4.3.0
iniconfig==2.1.0
markdown-it-py==4.0.0
mdurl==0.1.2
packaging==25.0
pip==25.2
pluggy==1.6.0
psycopg==3.2.9
psycopg2-binary==2.9.10
pygments==2.19.2
pyjwt==2.10.1
pytest==8.4.1
python-dotenv==1.1.1
rich==14.1.0
sqlalchemy==2.0.43
typing-extensions==4.15.0
